/* google font */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

/* common start */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
  padding-top: 109px;
}
.c-padding {
  padding-top: 100px;
  padding-bottom: 120px;
}
/* common end */
/* Header Start */
header {
  background-color: #fcdb00;
  padding: 20px 0;
}
.menu ul li a {
  font-size: 22px;
  font-weight: 700;
  color: #010101 !important;
  padding: 0 50px !important;
}
.menu ul li:last-child a {
  padding-right: 0 !important;
}
.menu ul li a:hover {
  color: #ffffff !important;
}
/* Header End */
/* Slider Start */
.slider {
  background-color: #fcdb00;
  padding-bottom: 100px;
}
.c-ind {
  bottom: -80px;
}
.c-ind [data-bs-target] {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.s-text {
  margin-top: 50px;
}
.s-text h1 {
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.s-text h2 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #313841;
}
.s-text p {
  margin-bottom: 35px;
  color: #555555;
}
.s-icon ul li {
  margin-right: 30px !important;
}
.s-icon ul li i {
  font-size: 42px;
  color: #010101;
  transition: 0.3s;
}
.s-icon ul li i:hover {
  transform: scale(0.8);
  color: #ffffff;
}
/* Slider End */
/* Feature Start */

.c-h1 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.c-p {
  font-size: 20px;
  color: #313841;
  line-height: 28px;
}
.f-item {
  margin-top: 70px;
}
.f-icon i {
  margin-top: 2px;
  font-size: 50px;
  color: #010101;
  transition: 0.3s;
}
.f-icon i:hover {
  transform: scale(0.8);
}
.f-text h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #010101;
}
.f-text p {
  letter-spacing: 1px;
}
/* Feature End */
/* Contact Start */
.contact {
  background-color: #010101;
}
.yellow {
  color: #fcdb00;
}
.ash {
  color: #898989;
}
.c-form {
  margin-top: 35px;
  margin-bottom: 70px;
}
.c-input {
  height: 55px;
  font-family: "PT Sans", sans-serif;
  color: #898989;
  padding: 15px 20px;
}
.c-submit {
  width: 100%;
  height: 55px;
  background-color: #fcdb00;
  color: #010101;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}
.c-submit:hover {
  background-color: #ffffff;
  color: #010101;
  transform: scale(0.9);
}
.c-icon li {
  margin-right: 30px !important;
}
.c-icon li:last-child {
  margin-right: 0 !important;
}
.c-icon ul li a i {
  font-size: 42px;
  color: #fcdb00;
  transition: 0.3s;
}
.c-icon ul li a i:hover {
  color: #ffffff;
  transform: scale(0.8);
}
/* Contact End */
/* Footer Start */
footer {
  padding-bottom: 120px;
  background-color: #010101;
}
.f-1 address {
  color: #ffffff;
}
.f-1 address p a {
  color: #ffffff;
  text-decoration: none;
}
.f-1 address p a:hover {
  color: #fcdb00;
}
.f-2 p a {
  color: #ffffff;
  text-decoration: none;
}
.f-2 p a:hover {
  color: #fcdb00;
}
/* Footer End */
