@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*common start*/

body{
  padding-top: 103px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
}
.c_padding{
  padding-top: 100px;
  padding-bottom: 120px;
}
/*common end*/

/*header start*/
header{
  background-color: #fcdb00;
  padding: 20px 0;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
  font-size: 22px;
  font-weight: 700;
  color: #010101 !important;
  padding: 0 30px !important;
}
.menu ul li:last-child a{
  padding-right: 0 !important;
}
.menu ul li a:hover{
  color: white !important;
}

/*header end*/
/*slider start*/
.slider{
  background-color: #fcdb00;
  padding-bottom: 100px;
}

.c_ind {
  bottom: -80px;
}

.c_ind [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.s_text{
  margin-top: 50px;
}
.s_text h1{
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.s_text h2{
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #313841;
}
.s_text p{
  margin-bottom: 35px;
  color: #555555;
}
.s_icon{}
.s_icon ul li{
  margin-right: 30px !important;
}
.s_icon ul li i{
  font-size: 42px;
  color: #010101;
  transition: .3s;
}
.s_icon ul li i:hover{
  transform: scale(.8);
}
.s_img{}
.s_img img{}

/*slider end*/
/*feature start*/
.c_title{}
.c_h1{
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.c_p{
  font-size: 20px;
  color: #313841;
  line-height: 28px;
}
.f_item{
  margin-top: 70px;
}
.f_icon{
  text-align: center;
}
.f_icon i{
  margin-top: 4px;
  font-size: 50px;
  color: #010101;
  transition: .3s;
}
.f_icon i:hover{
  transform: scale(.8);
}
.f_text{

}
.f_text h2{
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #010101;
}
.f_text p{
  letter-spacing: 1px;
}
/*feature end*/
/*contact start*/
.contact{
  background-color: #010101;
}
.yellow{
  color: #fcdb00; 
}
.ash{
  color: #898989;
}
.c_form{
  margin-top: 35px;
  margin-bottom: 70px;
}
.c_input{
  padding: 15px 20px;
  height: 55px;
  font-family: 'PT Sans', sans-serif;
  color: #898989;
}
.c_submit{
  width: 100%;
  height: 55px;
  background-color: #fcdb00;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #010101;
  text-transform: uppercase;
}
.c_submit:hover{
  background-color: #fff;
}

/*contact end*/
.c_icon{
  text-align: center;
}
.c_icon ul{}
.c_icon li{
  margin-right: 30px !important;
}
.c_icon li:last-child{
  margin-right: 0px !important;
}
.c_icon li i{
  font-size: 42px;
  color: #fcdb00;
  transition: .3s;
}
.c_icon li i:hover{
  color: #fff;
}
/*footer start*/
footer{
  background-color: #010101;
  padding-bottom: 120px;
}
.f_1{

}
.f_1 address{
  color: #fff;
}
.f_2{

}
.f_2 p a{
  color: #fff;
  text-decoration: none;
}
/*footer end*/